.Calendar {
  color: var(--text-color);
}
.Date {
  text-align: right;
  font-size: 28px;
  margin-bottom: 20px;
}

.Inner {
  display: flex;
  gap: 20px;
  position: relative;
}


.LeftArrow,
.RightArrow {
  position: absolute;
  top: 50%;
  width: 30px;
  height: auto;
  cursor: pointer;
}

.LeftArrow {
  left:-80px ;
}

.RightArrow {
  right: -80px;
}
.Row {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.DayRow {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.DateName {
  font-size: 20px;
  margin-bottom: 10px;
}

.Day {
  width: 50px;
  height: 50px;
  display: flex;

  align-items: center;
  justify-content: center;
  border: 1px solid var(--section-border-color);
}

.CurrentDay {
  background-color: var(--calendar-cur-day-bg);
  border: 1px solid #029fe2;
  color: var(--calendar-cur-day-color);
}

.SelectedDay {
  color: #434242;
  background-color: var(--green-color);
}
