.Calendar {
  color: var(--text-color);
}
.Date {
  text-align: right;
  font-size: 28px;
  margin-bottom: 20px;
}

.Inner {
  display: flex;
  gap: 20px;
  position: relative;
}

.LeftArrow,
.RightArrow {
  position: absolute;
  top: 50%;
  width: 30px;
  height: auto;
  cursor: pointer;
}

.LeftArrow {
  left: -80px;
}

.RightArrow {
  right: -80px;
}
.Row {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.DayRow {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.DateName {
  font-size: 20px;
  margin-bottom: 10px;
}

.Day {
  width: 50px;
  height: 50px;
  display: flex;

  align-items: center;
  justify-content: center;
  border: 1px solid var(--section-border-color);
}

.CurrentDay {
  background-color: var(--calendar-cur-day-bg);
  border: 1px solid #029fe2;
  color: var(--calendar-cur-day-color);
}

.SelectedDay {
  color: #434242;
  background-color: var(--green-color);
}

.MobileCalendar {
  display: none;
}

@media screen and (max-width: 991px) {
  .MobileCalendar {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 15px;
  }

  .Calendar > .Inner {
    display: none;
  }
  .LeftArrow,
  .RightArrow {
    position: static;
    width: 15px;
    margin-top: 35px;
  }

  .Date {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .Inner {
    gap: 10px;
  }
  .LeftArrow,
  .RightArrow {
    width: 15px;
    position: static;
    z-index: 100;
  }
}

@media screen and (max-width: 680px) {
  .Day {
    width: 35px;
    height: 35px;
  }

  .DateName {
    font-size: 16px;
  }
}

@media screen and (max-width: 360px) {
  .Day {
    width: 30px;
    height: 30px;
  }
  
  .Inner {
    gap: 5px;
  }
  .MobileCalendar {
    gap: 10px;
  }
}
